*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, .wrapper{
    overflow-y:hidden;
    height: 100%;
    width:100%;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width:100%;
    flex-wrap: wrap;
    align-items: center;
    /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(244,228,193,1) 100%); */
    background-image: url('./images/beachball.png');
    background-repeat:no-repeat;
     background-size:93px 81px;
    animation: background-animation 5s ease-in infinite;
}

/* main logo */
.cnlogo{
    flex: 0 0 100%;
    height:35vh;
    animation: rotate 2s ease-in-out infinite;
    animation-play-state: paused;
}

.cnlogo p{
    color:darkgray;
    text-shadow: 1px 1px;
    text-align: center;
}

.cnlogo:hover{
    background-color: darkgray;
    border-radius: 50%;
    animation-play-state: running;
}

.cnlogo:hover p {
    color: white;
}

#cnlogoimage{
    width:100%;
}

@keyframes rotate{
    0%{
    }
    100%{
        transform:rotate(360deg);
    }
}

/* CN link */
.cnlink{
    flex: 0 0 15%;
    animation: disappear 10s forwards;
}

.cnlink:hover{
    background-color: violet;
    box-shadow: 28px 2px 54px -6px rgba(0,0,0,0.75);
}

#cnlinkimage{
    width:100%;
}

@keyframes disappear {
    0% { flex-basis: 15%;
    }
    100%{
        flex-basis: 0%;
    }
}

/* Twitter link */
.twitterlink {
/* flex: 0 0 5%; */
background-color: turquoise;
width: 200px;
height:200px;
/* transform:rotate(45deg); */
text-align: center;
transition: transform 2s;
animation: sway 2s infinite;
animation-timing-function: ease-in-out;
}

#twlinkimage{
    width:75%;
}

.twitterlink:before{
    content: "TWITTER";

}

.twitterlink:hover {
        box-shadow: 6px 6px 0 darkgrey;
}

.twitterlink:hover:before{
    content:"TWITTER";
    font-size:5vh;
}

.twitterlink:hover #twlinkimage{
    opacity: 0;
}

.twitterlink:active{
    background-color: rgb(57, 187, 174);
}

.twitterlink:active:before{
    content:"YES LET'S GO TO TWITTER";
    background-color: rgb(57, 187, 174);
}

@keyframes sway {
    0% { transform:rotate(0);
    }
    33% {
        transform:rotate(-45deg);
    }
    75%{
        transform:rotate(45deg);
    }
    100%{
        transform:rotate(0);
    }
}

/* Facebook link */
.facebooklink{
animation: shake 0.02s;
animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 50%;
  transition: all 2s;
}

.facebooklink:hover{
    animation-play-state: paused;
    background-color: rgb(68, 97, 157);
    border-radius: 0%;
}

#fblinkimage{
    width: 100%;
} 

@keyframes shake{
    0%{
    }
    100%{
        transform: translateX(3px);
    }
}

/* Instagram link */
.instagramlink{
    flex: 0 0 10%;
    transition: all 2s;
}

.instagramlink a{
    display:block;
    background-color: thistle;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(253, 253, 174);
}

#iglinkimage{
width:100%;
}

.instagramlink:hover{
    opacity: 0;
}

.instagramlink:visited{
    background-color: black; /*this doesn't work and I don't know why */
    border-left-color:black;
    border-right-color: black;
    border-left-color: black;
}

@keyframes background-colour{
    0%{
        background-color: azure;
    }
    50%{
        background-color: rgb(210, 245, 245);
    }
    70%{
        background-color: rgb(240, 250, 255);
    }
    100%{
        background-color:azure;
    }

}

@keyframes background-animation{
    0%{
        background-size:93px 81px;
        background-position: 0% 0%;
    }
    70%{
        background-position: 60% 100%;
    }
    80%{
        background-position: 80% 80%;
    }
    82%{
        background-size:100px 50px; 
    }
    84%{
        background-size:93px 81px;
    }
    90%{
        background-position: 90% 100%;
    }
    95%{
        background-position: 95% 90%;
    }
    100%{
        background-position: 100%,100%;
    }

}